/* FIX ME: This is a temporary fix to make the APP work on huge screens */
main {
  /* Just copied tailwind default x2 here, as it seems to be a sensible max width */
  max-width: 1536px;
}

.justify-center{
  justify-content: center;
}
.justify-right{
  justify-content: right;
}

.dataTable {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0;
  margin-bottom: 24px;
}
.dataTable.threeCols{
  grid-template-columns: 1fr 4fr 1fr;
}
.dataTable.fourCols{
  grid-template-columns: 1fr 3fr 1fr 1fr;
}
.dataTable .tableHead {
  font-weight: 700;
}
.dataTable p {
  margin: 0;
  padding: 8px;
}
.dataTable img {
  max-width: calc( 100% - 8px );
  margin: 0;
  padding: 8px;
}
