:root {
  --pelilauta-z-index-base: 1000;
  /* Level 1 */
  --pelilauta-dialog-z-index: calc(6 * var(--pelilauta-z-index-base));
  /* Level 2 */
  --pelilauta-z-index-navigation: calc(4 * var(--pelilauta-z-index-base));
  /* Level 3 */
  --pelilauta-fabs-z-index: calc(3 * var(--pelilauta-z-index-base));

  /* these need to go to cyan, later */
  --pelilauta-dialog-backdrop: rgba(0, 0, 0, 0.5);
  --pelilauta-dialog-background: var(--chroma-secondary-c);

  
}
body {
  margin: 0;
  padding: 0;
}
.dataTable {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0;
  margin-bottom: 24px;
}
.dataTable.threeCols{
  grid-template-columns: 1fr 4fr 1fr;
}
.dataTable.fourCols{
  grid-template-columns: 1fr 3fr 1fr 1fr;
}
/*.dataTable > p:nth-child(4n + 1),
.dataTable > p:nth-child(4n + 2) {
  background-color: var(--chroma-secondary-h);
}
.dataTable > p:nth-child(4n + 3),
.dataTable > p:nth-child(4n + 4) {
  background-color: var(--chroma-secondary-g);
}*/
.dataTable .tableHead {
  font-weight: 700;
}

.dataTable p {
  margin: 0;
  padding: 8px;
}
.dataTable img {
  max-width: calc( 100% - 8px );
  margin: 0;
  padding: 8px;
}
.verticalList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}